*{
    margin: 0;
    padding: 0;

}

.container{
    display: flex;
    font-family: "IBM Plex Serif", serif;
}
header img{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 180px;
    position: relative;
}

.texto{
    position: absolute;
    padding: 69px;
    width: 800px;
    color: #88141B;

}

button{
    font-weight: 800;
    width: 150px;
    height: 30px;
    border-radius: 6px;
    border:2px solid #88141B;
    position: absolute;
    top: 10%;
    right: 15%;
    color: #88141B;
    background-color: #468fac;
    
    
}
.destaques button{
    font-weight: 800;
    width: 150px;
    height: 30px;
    border-radius: 6px;
    border:2px solid #88141B;
    position: absolute;
    top: 10%;
    right: 15%;
    color: #88141B;
    background-color: #468fac;
    margin-top: 350px;
    margin-right: 50px  ;
}

.secundario{
    font-weight: 800;
    width: 150px;
    height: 30px;
    border-radius: 6px;
    border:2px solid #88141B;
    position: absolute;
    top: 10%;
    right: 15%;
    color: #88141B;
    background-color: #468fac;
}

.entrada{
    display: flex;
    flex: 1;
    margin-top: 88px;
    
}
.imgs img{
    width: 80%;
    height: 368px;
    margin-left: 240px;
    box-shadow: -50px 110px 0px #468fac;

    
}

.textos{
    
    text-align: justify;
    max-width: 480px;
    margin-left: 200px;
}

.textos h2{
    margin: auto;
    width: 250px;
    text-align: center;
}

.texto p{
    margin-top: 22px;
}


.destaques{
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    font-family: "IBM Plex Serif", serif;
    
    
    
    
}

.destaques img{
    width: 128px;
    height: 248px;
    color: #468fac;
    opacity: 0.2;
    margin-top: 15px;
    margin-left: 124px;
    margin-right: 124px;
    transform: translateX(70px);
    position: relative;
    
}

/* .linha{
    border-top: 2px solid #468fac;
    width: 50%;
    margin-bottom: 100px;
    } */
    
    .destaques .text1,
    .destaques .text2,
    .destaques .text3 {
        border-left: 1px solid #468fac;
        border-top: 1px solid #468fac; 
        border-right: 1px solid #468fac;
        border-bottom: 1px solid #468fac;
    position: relative
    

    
}

.texto-sobre-imagem {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #000000;
    text-align: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.texto-sobre-imagem h2{
    margin-bottom: 50px;
}

.textos2{
    margin-top: 300px;
}

.textos2 h2{
    text-align: center;
    margin-bottom: 60px;
}
.textos2 p{
    
    width: 800px;
    margin-bottom: 20px;
    margin-left: 400px;
    text-align: center;
    
    
    
}

.depoimento img{
    width: 224px;
    height: 176px;

}


.depoimento {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.nomes p{
    width: 180px;
}

.nomes1 p{
    width: 220px;
}

.nomes2 p{
    width: 190px;
}

.nomes3 p{
    width: 200px;
}


footer{
    margin-top: 100px;
    text-align: center;
}